@import url(http://fonts.googleapis.com/css?family=Arimo|Oxygen|Vollkorn|Noticia+Text);
* {
  margin: 0; }

html, body {
  height: 100%;
  font-size: 100%;
  overflow-x: hidden; }

body {
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, p, a, li, label {
  font-family: "Vollkorn", serif;
  color: #8A817E;
  max-width: 100%; }

h1 {
  font-family: "Oxygen", sans-serif;
  font-size: 36px; }

h2 {
  font-family: "Oxygen", sans-serif;
  font-size: 22px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

p, label, li {
  font-size: 18px; }

a {
  display: inline-block;
  color: #8AC6AC;
  text-decoration: none; }

a:hover {
  color: rgba(138, 198, 172, 0.6); }

ul {
  list-style-type: none; }

.menu {
  background: #F7F6F2;
  width: 100%;
  height: 7vh;
  padding: 0px 20px;
  position: relative; }
  .menu ul li {
    display: inline-block;
    vertical-align: top; }
    .menu ul li a {
      line-height: 7vh;
      display: block;
      padding: 0px 10px; }
    .menu ul li ul {
      display: none;
      z-index: 100;
      position: absolute;
      top: 7vh;
      background: #F7F6F2;
      margin: 0px;
      padding: 0px; }
      .menu ul li ul li {
        display: block;
        width: 150px;
        padding: 5px; }
        .menu ul li ul li a {
          display: block;
          line-height: 1em; }
    .menu ul li .expand:hover ~ ul, .menu ul li ul:hover {
      display: block;
      cursor: pointer;
      transition: 2s ease; }

#content {
  min-height: 80vh;
  font-size: 0px; }
  #content .photo {
    max-height: 46.5vh;
    max-width: 25vw;
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: hidden; }
    #content .photo img {
      max-width: 500px;
      max-height: 500px;
      margin: 0px auto;
      vertical-align: middle; }
  #content .info {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 25vw;
    height: 46.5vh; }
    #content .info h4 {
      font-size: 20px;
      color: #fff;
      padding: 5px; }
    #content .info p {
      font-size: 16px;
      color: #fff;
      padding: 5px; }
  #content .link:hover .info {
    display: block; }

.footer {
  max-height: 13vh;
  background: #8AC6AC; }
  .footer p {
    padding: 20px;
    max-width: 400px;
    display: inline-block; }
  .footer a {
    color: #F7F6F2; }
  .footer .icons {
    display: inline-block;
    vertical-align: middle; }
  .footer img {
    max-width: 40px;
    display: inline-block; }
