<div class='menu'>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a class='expand' href="#">Photos <span style='font-size: 10px; vertical-align: middle;'>&#9660;</span></a>
            <ul>
                {% assign sorted = (site.categories | sort) %}
                {% for category in sorted%}
                <li><a href='/{{ category | first }}'>{{ category | first }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
