---
---
@import url(http://fonts.googleapis.com/css?family=Arimo|Oxygen|Vollkorn|Noticia+Text);
$bg: #fff;
$prim: #F7F6F2;
$sec: #8A817E;
$accent: #8AC6AC;
$hover: rgba(138, 198, 172, .6);
$sans: 'Oxygen', sans-serif;
$serif: 'Vollkorn', serif;
$dark: $sec;
$light: $bg;
$transparent: rgba(255, 255, 255, .8);
$menu-y: 7vh;
$footer-y: 13vh;

* {margin: 0;} 

html, body {
    height: 100%;
    font-size: 100%;
    overflow-x: hidden;
}

body{
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, p, a, li, label{
    font-family: $serif;
    color: $dark;
    max-width: 100%;
}

h1{
    font-family: $sans;
    font-size: 36px;}
h2{
    font-family: $sans;
    font-size: 22px;}
h3{
    //font-familY: $sans;
    font-size: 32px;}
h4{
    font-size: 24px;}

p, label, li{
    font-size: 18px;}
a{
    display: inline-block;
    color: $accent;
    text-decoration: none;}

a:hover {
        color: $hover;}
ul{
    list-style-type: none;}

.menu{
    background: $prim;
    width: 100%;
    height: $menu-y;
    padding: 0px 20px;
    position: relative;

    ul{
    
        li {
            display: inline-block;
            vertical-align: top;
            

            a{
                line-height: $menu-y;
                display: block;
                padding: 0px 10px;
            }

            ul{
                display: none;
                z-index: 100;
                position: absolute;
                top: $menu-y;
                background: $prim;
                margin: 0px;
                padding: 0px;
            
                li{
                    display: block;
                    width: 150px;
                    padding: 5px;

                    a {
                        display: block;
                        line-height: 1em;
                    }
                }
            }
            .expand:hover ~ ul, ul:hover{
            display: block;
            cursor: pointer;                
            transition: 2s ease;
        }
      }
   }
} 




#content{
    min-height: 80vh;
    font-size: 0px;
    
    .photo{
        max-height: 46.5vh;
        max-width: 25vw;
        display: inline-block;
        position: relative;
        margin: 0px;
        padding: 0px;
        overflow: hidden;

        img{
            max-width: 500px;
            max-height: 500px;
            margin: 0px auto;
            vertical-align: middle;
        }
    }
       
    .info{
        display: none;
        background: rgba(0, 0, 0, .4);
        position:absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        width: 25vw;
        height: 46.5vh;

        h4{
            font-size: 20px;
            color: $light;
            padding: 5px;
        }    
        p{ 
            font-size: 16px;
            color: $light;
            padding: 5px;
        }
    }
    .link:hover .info{
        display: block;
    }
}

.footer{
    max-height: $footer-y;
    background: $accent;

    p{
        padding: 20px;
        max-width: 400px;
        display: inline-block;
    }

    a{
        color: $prim;
    }

    .icons{
        display:inline-block;
        vertical-align: middle;
    }

    img{
        max-width: 40px;
        display: inline-block;
    }
}
